<h1 class="text-4xl font-bold text-center text-accent">Bulls & Cows</h1>
<div class="mb-4 flex justify-center">
  <p>To see the rules of Bulls and Cows, refer to this <a href="https://en.wikipedia.org/wiki/Bulls_and_cows"
      target="_blank" rel="noopener noreferrer" class="link">link</a></p>
</div>
<div class="flex justify-center">
  <p>Guess the 4 digit number. The number should not have any repeating digits.</p>
</div>
<div class=" mb-4 flex justify-center">
  <p>After each guess, the number of bulls and cows will be displayed.</p>
</div>
<div class="flex justify-center items-center">
  <div class="flex">
    <div class="flex gap-2">
      <input *ngFor="let digit of [0, 1, 2, 3]; let i = index" [(ngModel)]="guess()[i]" (input)="trackInput($event, i)"
        type="text" maxlength="1" class="input input-bordered w-12 text-center"
        [ngClass]="{'input-error': errorMessage() !== '', 'cow': buttonClicked && showCow(guess(), i)}"
        (keyup.enter)="guessNumber()" (paste)="handlePaste($event)" />
      <button class="btn btn-outline btn-accent" (click)="guessNumber()"
        [disabled]="guessHistory().length >= MAX_GUESSES">Guess</button>
    </div>

  </div>
  <div class="gap-3 ml-9 mt-8 text-end font-black text-sky-200 text-4xl flex-row justify-center items-center">
    {{guessHistory().length + "/" + MAX_GUESSES}}
    <section>
      <!-- Open the modal using ID.showModal() method -->
      <button class="btn btn-sm" onclick="my_modal_2.showModal()">See Answer</button>
      <dialog id="my_modal_2" class="modal">
        <div class="modal-box w-[20%] flex items-center justify-center">
          <p class="py-4">{{answer().join('')}}</p>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>
    </section>
    <div>
      <ng-container
        *ngIf="guessHistory().length > 0 && (showCow(guess(), 0) || showCow(guess(), 1) || showCow(guess(), 2) || showCow(guess(), 3))">
        <button class="btn btn-sm" (click)="toggleShowCow()" [disabled]="buttonClicked">Show Cow</button>
      </ng-container>
    </div>
  </div>
</div>
<div class="flex justify-center items-center text-red-600 mt-2 gap-1">
  @if(errorMessage() !== '') {
  <mat-icon>error_outline</mat-icon>
  {{errorMessage()}}
  }
</div>
<main class="flex flex-col items-center mt-4">
  <div>
    @for(guess of guessHistory(); track $index) {
    <div class="flex justify-between items-center gap-4">
      <p>
        <ng-container *ngFor="let digit of guess.g.toString().split(''); let i = index">
          <span [style.color]="getBullColor(guess.g.toString(), i)">
            {{ digit }}
          </span>
        </ng-container>
      </p>
      <p class="mr-2"> {{guess.bulls}} Bulls, {{guess.cows}} Cows</p>
    </div>
    }
  </div>
  <div class="flex-row mt-2 justify-center items-center text-green-600">
    @if (gameState() === "won") {
    <dialog id="win_modal" class="modal" open>
      <div class="modal-box h-[40%] flex items-center justify-center gap-1">
        <mat-icon class="text-yellow-400">sentiment_satisfied</mat-icon>
        {{success()}}

        <button class="btn btn-outline btn-warning mt-2" (click)="resetGame()">Play Again</button>

      </div>

    </dialog>
    }
  </div>
  <div class="flex-row mt-2 justify-center items-center text-red-600">
    @if (gameState() === 'lost') {
    <dialog id="win_modal" class="modal" open>
      <div class="modal-box h-[40%] flex items-center justify-center gap-1">
        <mat-icon>mood_bad</mat-icon>
        {{success()}}

        <button class="btn btn-outline btn-warning mt-2" (click)="resetGame()">Play Again</button>

      </div>

    </dialog>
    }
  </div>
</main>